<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DoxmoPizza</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<!-- 한글처리 핕터 설정 : util.CharacterEncodingFilter 에서 사용 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>filter.CharacterEncodingFilter</filter-class>
    <!-- setCharacterEncoding을 utf-8로 -->
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <!-- setContentType을  text/html;charset=utf-8로-->
    <init-param>
      <param-name>content_type</param-name>
      <param-value>text/html;charset=utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern> <!-- 모든 주소값에 다 설정  -->
  </filter-mapping>

  <!-- DB설정 : Connection Pool 생성 -->
  <resource-ref>
    <res-ref-name>jdbc/mysql</res-ref-name>
    <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>jdbc.DBCPInitListener</listener-class>
  </listener>
  <context-param>
    <param-name>poolConfig</param-name>
    <param-value>
			jdbcdriver=com.mysql.jdbc.Driver
			jdbcUrl=jdbc:mysql://localhost:3306/jspdb?characterEncoding=utf8
			dbUser=root
			dbPass=1234
			validationQuery=select 1
			minIdle=3
			maxTotal=30
			poolName=doxmo
		</param-value>
  </context-param>
<!-- 로그인 여부 확인 : 관련화면 (패스워드 변경, 기사작성및 수정) -->
  <filter>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/changePwd.do</url-pattern>
    <url-pattern>/article/write.do</url-pattern>
    <url-pattern>/article/modify.do</url-pattern>
  </filter-mapping>

</web-app>